.content
{
    width: fit-content;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nz-input-group
{
    margin-bottom: 1vh;
    border-radius: 10px;
}


nz-select
{
    width: 100%;
    margin-bottom: 1vh;
    border-radius: 10px;
}
